---
import { getCollection } from "astro:content";
import BaseLayout from '../layouts/BaseLayout.astro';
import BlogPost from '../components/BlogPost.astro';

//Her legges alle MarkDown-filene inn i en variabel. 
const allPosts = await getCollection("blog");

const pageTitle = "My Astro Learning Blog";
---

	<BaseLayout pageTitle={pageTitle}>

	<!-- Innhold -->
    <p>This is wheree I will post about my journey learning Astro. </p>
    
  <!-- Linker til Blog innlegg -->
    <ul>
      {
        allPosts.map((post)=> (
          <BlogPost url={`/posts/${post.id}/`} title={post.data.title} />
        ))
      }
    </ul>
  </BaseLayout>
 
