---
import BaseLayout from '../layouts/BaseLayout.astro';
import BlogPost from '../components/BlogPost.astro';

//Her legges alle MarkDown-filene inn i en variabel. 
const allPosts = Object.values(import.meta.glob('./posts/*.md', { eager: true }));

const pageTitle = "My Astro Learning Blog";
---

	<BaseLayout pageTitle={pageTitle}>

	<!-- Innhold -->
    <p>This is wheree I will post about my journey learning Astro. </p>
    
  <!-- Linker til Blog innlegg -->
    <ul>
      {allPosts.map((post: any) => <BlogPost url={post.url} title={post.frontmatter.title} />)}
    </ul>
  </BaseLayout>
 
